$textColor: white;
$toolBarColor: #333;
$backGroundColor: #222;
$stdBorder: 1px solid white;

@mixin flexbox($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
  flex-wrap: wrap;
}

$animationDelay: 1;
@for $i from 1 through 15 {
	.notes div:nth-of-type(#{$i}) {
		animation-delay: #{($i)/30}s;
  }
}

@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}


body {
  background-color: $backGroundColor;
  color: $textColor;
  margin: 0;
  .toolbar {
    @include flexbox(row);
    justify-content: unset;
    background-color: $toolBarColor;
    .logo {
      @include flexbox(row);
      justify-content: flex-start;
      width: 50%;
      h1 {
        margin: 20px;
        font-family: Lobster;
        font-size: 2.5em;
      }
    }
    .buttons {
      @include flexbox(row);
      justify-content: flex-end;
      width: 50%;
      i {
        margin-right: 20px;
        font-size: 1.5em;
        cursor: pointer;
      }
    }
  }
  .divider {
    border-top: none;
    height: 2vh;
    background-color: #555;
  }
  .notes {
    @include flexbox(row);
    .note {
      @include flexbox(column);
      justify-content: flex-start;
      align-items: flex-end;
      border: 1px solid black;
      box-sizing: border-box;
      .note-buttons {
        @include flexbox(row);
        justify-content: flex-end;
        width: 100%;
        height: 20px;
        box-sizing: border-box;
        padding:5px 5px 0 0;
        margin-bottom: 5px;
        .colorwrapper {
          @include flexbox(row);
          flex-wrap: nowrap;
          justify-content: flex-end;
          align-items: flex-start;
          width:16px;
          height: 16px;
          padding: 0;
          margin: 0;
          input {
            width: 100%;
            height: 100%;
            z-index: 5;
            padding: 0;
            border: none;
            background-color: transparent;
            margin: 5px;
            cursor: pointer;
            opacity: 0;
          }
          i {
            width: 0;
            position: relative;
            right: 16px;
            font-size: 1em;
            margin: 0;
            padding: 0;
          }
        }
        .buttonwrapper {
          width: 16px;
          height: 16px;
          margin:0;
          padding:0;
          i {
            font-size: 1em;
            padding: 0;
            margin: 0;
          }
        }
      }
      textarea {
        width: 100%;
        height: 70%;
        margin:0;
        padding: 5%;
        box-sizing: border-box;
        background-color: transparent;
        border: none;
        color: white; 
        mix-blend-mode: difference;
        font-family: "Arimo";
        resize: none;
      }
      animation-name: fade-in;
      animation-fill-mode: both;
      animation-duration: .5s;
    }
    .note-list {
      width: 100vw;
      height: 100vw;
      .note-buttons {
        i {
          font-size: 2.4em;
        }
      }
      textarea {
        font-size: 1.92em;
      }
    }
    .proto {
      visibility: hidden;
    }
  }
}


@media only screen and (max-width: 991px) {
  .note {
    width: 48vw;
    height: 48vw;
    margin: 1vw;
  }
}
@media only screen and (min-width: 992px) {
  .note {
    width: 24vw;
    height: 24vw;
    margin: 0.25vw;
    textarea {
      font-size: 2em;
    }
  }
  .note-list {
    width: 40vw !important;
    height: 40vw !important;
    margin-left: 10vw !important;
    margin-right: 10vw !important;
    textarea {
      font-size: 3.2em !important;
    }
  }
}